:root{
  --color-hover:rgba(17, 169, 245, 0.5);
  --color-light:rgb(255,255,255);
  --color-dark:rgb(27, 27, 50);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header, footer{
  font-family: "Anton SC", sans-serif;
}

/* bootstrap */
.card-body:hover{
  transition: 0.3s all ease-in;
  color:var(--color-light);
  background-color: var(--color-dark);
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -ms-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
}

.navbar-nav a:hover{
  transition: all 0.5s ease-in;
  background-color: var(--color-hover);
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}

.carousel-item{
  height: 400px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231b1b32'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231b1b32'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
/* estilos propios */
.img-proyectos{
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.img-proyectos:hover{
  opacity: 0.2;
}

.overlay{
  opacity: 0;
  /* visibility: hidden; */
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.proyecto:hover .overlay{
  opacity: 1;
  /* visibility:visible; */
}

.img-testimonio{
  width: 150px;
}

.cliente-descripcion{
  max-width: 500px;
}

.sector-contacto{
  background-color: var(--color-dark);
  height: 200px;
}

.contacto-arriba{
  margin-top: -3rem;
  box-shadow: 2px 5px 9px 0px rgba(250,237,237,0.75);
-webkit-box-shadow: 2px 5px 9px 0px rgba(250,237,237,0.75);
-moz-box-shadow: 2px 5px 9px 0px rgba(250,237,237,0.75);
}
.link-contacto:hover{
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  color:var(--color-dark);
  background-color: var(--color-light);
}

footer{
  color:var(--color-light);
  background-color: var(--color-dark);
}

/* Media Queries */
@media screen and (max-width:400px){
  .conoceme{
    font-size: 80% !important;
  }
  .cliente-descripcion{
    width: 200px;
    height: 100px;
    font-size: 0.8rem;
  }
}

@media screen and (max-width:575px){
  .contacto-arriba{
    max-width: 400px;
  
  }
}

@media screen and (max-width:767px){
  .card{
    height: auto !important;
  }
  .conoceme{
    font-size: 1rem !important;
  }
  .cliente-descripcion{
    max-width: 300px;
  }
}

@media screen and (min-width:850px){
 .img-hero{
    max-width: 700px;
 }
}

@media screen and (min-width:1200px){
 .cliente-descripcion{
    max-width: 900px;
 }
}